@keyframes borderMove {
    0%, 100% {
      border-width: 4px;
      top: 0;
      left: 0;
      
    }
    25% {
      border-width: 4px;
      top: 0;
      left: 100%;
    }
    50% {
      border-width: 4px;
      top: 100%;
      left: 100%;
    }
    75% {
      border-width: 4px;
      top: 100%;
      left: 0;
    }
  }
  
  .animate-borderMove {
    animation: borderMove 4s linear infinite;
    position: absolute;
  }
  